.bgImg {
  position: relative;
  background: url("https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?cs=srgb&dl=pexels-akos-szabo-145938-440731.jpg&fm=jpg")
    no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.bgImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity as needed */
  z-index: 1;
}

.bgImg > * {
  position: relative;
  z-index: 2; /* Bring content above the overlay */
}

.register-container {
  height: 100vh;
}

.login-container {
  height: 100vh;
}

.card {
  width: 400px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.card h2 {
  font-weight: bold;
  font-size: 1.8rem;
}

.card input {
  border-radius: 5px;
}

.card input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.card button {
  background: linear-gradient(45deg, #007bff, #0056b3);
  border: none;
  transition: background 0.3s;
}

.card button:hover {
  background: linear-gradient(45deg, #0056b3, #003f7f);
}

.card p {
  margin-top: 1rem;
  font-size: 0.9rem;
}
